.first-color{
    background-color: #9decff;
}

.second-color{
    background-color: #9dffac;
}

.third-color{
    background-color: #f6ff9d;
}

.default-color{
    background-color: #ffc19d;
}

.fourth-color{
    background-color: #ff9d9d;
}

.fifth-color{
    background-color: #ff9de5;
}

.sixth-color{
    background-color: #e79dff;
}

.seventh-color{
    background-color: #ba9dff;
}

.eighth-color{
    background-color: #9db9ff;
}

.ninth-color{
  background-color: #ffca9d;
}

.tenth-color{
    background-color: #ffab9d;
}





.first-lblcolor{
    color: #9decff;
}

.second-lblcolor{
    color: #9dffac;
}

.third-lblcolor{
    color: #f6ff9d;
}

.default-lblcolor{
    color: #ffc19d;
}

.fourth-lblcolor{
   color: #ff9d9d;
}

.fifth-lblcolor{
    color: #ff9de5;
}

.sixth-lblcolor{
    color: #e79dff;
}

.seventh-lblcolor{
    color: #ba9dff;
}

.eighth-lblcolor{
  color: #9db9ff;
}

.ninth-lblcolor{
color: #ffca9d;
}

.tenth-lblcolor{
    color: #ffab9d;
}